@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


body{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
    
}

.container{
    background-color: white;
    max-height: fit-content;
    max-width: 44rem;
    border-radius: 18px;
    margin: 10% auto;
    display: flex;
    align-items: center;
}

.card{
    padding: 2rem;
    align-items: center;
    max-width: auto;
    
}
img{
    width: 100%;
    border-radius: 15px;
}
h1{
    font-family: "Young Serif", serif;
    font-weight: 450;
    font-size: 2.5rem;
}

.preparation{
    background-color: hsl(330, 100%, 98%);
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 15px;
}

.preparation ul{
    list-style: none;
}

.preparation ul li::before{
    color: hsl(332, 51%, 32%);
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    margin-left: -1.8rem;
    margin-right: 2rem;
  }
h3{
    color: hsl(332, 51%, 32%);
    margin-left: 0.5rem;

}

.preparation strong{
    font-weight: 550;
}
.ingredients{
    padding: 0.5rem 0;
}

.ingredients ul{
    list-style: none;
}

.ingredients ul li::before{
    color: hsl(332, 51%, 32%);
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    margin-right: 1.5rem;
    margin-left: -2rem;
  }

h2{
    font-family: "Young Serif", serif;
    color: hsl(332, 51%, 32%);
    font-weight: 400;
    font-size: 1.7rem;
}

li{
    padding: 5px;
}

.instructions{
    padding: 0.5rem 0;
}
.instructions strong{
    font-weight: 550;
}
ol{
    list-style: none;
}
ol li{
    counter-increment: num;
}
ol li::before { 
    content: counter(num) "."; 
    margin-right: 2rem;
    margin-left: -2rem;
    font-weight: bold; 
    color: hsl(332, 51%, 32%);
}

.nutrition{
    padding: 0.5rem 0;
}
table{
    width: 100%;
    padding-left: -1rem;
}

td{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid grey;
}

#row4 td{
    border-bottom: none;
}

#name td{
    text-align: left;
    margin-left: 2rem;
}
#number{
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}

footer{
    position: static;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    font-family: "Outfit", sans-serif;

}
.attribution{
    text-align: center;
}